body {font-family: 'Noto Sans JP', sans-serif;}

img {width: 8%;
    height: 8%;margin-top: 10%;margin-left: 10%;
}

.text {
    text-align: left;
    margin-left: 10%;
    margin-top: 6%;
    font-size: 350%;
    font-weight: 900;
}

#name {
    width: 80%;
    height: 100px;
    margin-top: 5%;
    margin :5% 10% 0% 10%;
    border-radius: 15px;
    box-shadow: none;
    font-size: 30px;
    padding-left: 2%;
    z-index: 2;
    padding-top: 35px;
    border: solid #BDBDBD;
}

#pass {
    width: 80%;
    height: 100px;
    margin-top: 5%;
    margin :5% 10% 0% 10%;
    border-radius: 15px;
    box-shadow: none;
    font-size: 30px;
    padding-left: 2%;
    z-index: 2;
    padding-top: 35px;
    border: solid #BDBDBD;
}

label {
    color: #9E9E9E;
}

.namebox > #name2 {
    font-size: 30px;
    position: absolute;
    top: 410px;left: 120px;
}

.passbox > #pass2 {
    font-size: 30px;
    position: absolute;
    top: 600px;left: 120px;
}

#name:focus ~ #name2 {
    font-size: 180%;
    position: absolute;
    top: 385px;left: 122px;
    color: #1DA1F2;
}

#name:focus {
    border: 3px solid #1DA1F2;
    outline: 0;
    line-height: 3;
}

#pass:focus {
    border: 3px solid #1DA1F2;
    outline: 0;
    line-height: 3;
}

#name:placeholder-shown ~ #name2{
    
}

#name:not(:placeholder-shown) ~ #name2{
    font-size: 180%;
    position: absolute;
    top: 385px;left: 122px;
    color: #BDBDBD;
}

#pass:focus ~ #pass2 {
    font-size: 180%;
    position: absolute;
    top: 575px;left: 122px;
    color: #1DA1F2;
}

#pass:placeholder-shown ~ #pass2{
    
}

#pass:not(:placeholder-shown) ~ #pass2{
    font-size: 180%;
    position: absolute;
    top: 575px;left: 122px;
    color: #BDBDBD;
}

#pass {
    -webkit-text-security:disc;
}

#submit {
    width: 85%;
    height: 100px;
    margin-top: 5%;
    margin :5% 7.5% 0% 10%;
    border-radius: 50px;
    box-shadow: none;
    font-size: 30px;
    padding-left: 2%;
    background-color: #1DA1F2;
    border: 3px solid #1DA1F2;
    outline: 0;
    color: white;
    font-weight: 800;
    -webkit-appearance: none;
}




@media screen and (min-widgh: 481px) {
    body {font-family: 'メイリオ'}

img {width: 50%;
    height: 8%;margin-top: 10%;margin-left: 10%;
}

.text {
    text-align: left;
    margin-left: 10%;
    margin-top: 6%;
    font-size: 350%;
    font-weight: 900;
}

#name {
    width: 770px;
    height: 100px;
    margin-top: 5%;
    margin :5% 10% 0% 10%;
    border-radius: 15px;
    box-shadow: none;
    font-size: 30px;
    padding-left: 2%;
    z-index: 2;
    padding-top: 35px;
    border: solid #BDBDBD;
}

#pass {
    width: 770px;
    height: 100px;
    margin-top: 5%;
    margin :5% 10% 0% 10%;
    border-radius: 15px;
    box-shadow: none;
    font-size: 30px;
    padding-left: 2%;
    z-index: 2;
    padding-top: 35px;
    border: solid #BDBDBD;
}

label {
    color: #9E9E9E;
}

.namebox > #name2 {
    font-size: 30px;
    position: absolute;
    top: 410px;left: 120px;
}

.passbox > #pass2 {
    font-size: 30px;
    position: absolute;
    top: 600px;left: 120px;
}

#name:focus ~ #name2 {
    font-size: 25px;
    position: absolute;
    top: 385px;left: 122px;
    color: #1DA1F2;
}

#name:focus {
    border: 3px solid #1DA1F2;
    outline: 0;
    line-height: 3;
}

#pass:focus {
    border: 3px solid #1DA1F2;
    outline: 0;
    line-height: 3;
}

#name:placeholder-shown ~ #name2{
    
}

#name:not(:placeholder-shown) ~ #name2{
    font-size: 25px;
    position: absolute;
    top: 385px;left: 122px;
    color: #BDBDBD;
}

#pass:focus ~ #pass2 {
    font-size: 25px;
    position: absolute;
    top: 575px;left: 122px;
    color: #1DA1F2;
}

#pass:placeholder-shown ~ #pass2{
    
}

#pass:not(:placeholder-shown) ~ #pass2{
    font-size: 25px;
    position: absolute;
    top: 575px;left: 122px;
    color: #BDBDBD;
}

#pass {
    -webkit-text-security:disc;
}

#submit {
    width: 800px;
    height: 100px;
    margin-top: 5%;
    margin :5% 10% 0% 10%;
    border-radius: 50px;
    box-shadow: none;
    font-size: 30px;
    padding-left: 2%;
    background-color: #1DA1F2;
    border: 3px solid #1DA1F2;
    outline: 0;
    color: white;
    font-weight: 800;
}
}

@media screen and (min-widgh: 960px) {
    
}
